.tasks {
  width: 100%;
  height: 600px;
  padding: 0 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.tasks h1 {
  font-size: 2rem;
  margin: 27px 0 40px 0;
  color: #49D7B1;
}

.task-check-value {
  color: #49D7B1;
  font-size: 1.2rem;
  text-align: left;
  width: 108px;
  margin-bottom: 10px;
}


.task-list {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px; /* 아이템 간 간격 추가 */
}

.task-items {
  display: flex;
  flex-direction: column; /* 가로 정렬 대신 세로 정렬 */
  flex: 1;
  width: 100%; /* 부모 요소에 맞게 너비 설정 */
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  width: 100%; /* 가로폭을 부모 요소에 맞게 설정 */
  max-width: 800px; /* 최대 폭 제한 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 */
  padding: 0;
}

.task-item:hover {
  background-color: #f1f1f1; /* 호버 시 배경 변화 */
}
.status-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* 컨테이너의 너비 설정 */
  background-color: #49D7B1; /* 필요에 따라 배경색 추가 가능 */
}

.task-status-bar {
  height: 100%; /* 높이를 부모 요소에 맞게 설정 */
  background-color: #49D7B1;
  flex: 1
}

.task-content {
  display: flex;
  flex: 1;
  padding: 15px;
  align-items: center;
  gap: 10px;
  border: none; /* 테두리 제거 */
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px; /* 체크박스 영역 고정 너비 */
  background-color: #e8f5e9; /* 연한 배경색 */
  border-right: 1px solid #ddd; /* 우측 경계선 */
}

.task-checkbox {
  width: 30px;
  height: 20px;
  /* border: 2px solid #49D7B1; */
  border-radius: 50%;
  cursor: pointer;
}


.task-content:hover {
  background-color: #f1f1f1; /* Hover effect for task content */
}

.task-title {
  font-size: 1.1rem;
  color: #333;
}

.add-task-section {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0 2px 0;
}

.add-task-btn {
  width: 25%;
  padding: 12px;
  background-color: #49D7B1;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
}

.add-task-btn:hover {
  background-color: #3bc19d;
}